[SERVIDOR]
puerto = 12000
discover_url = 
ssl_crt_path = 
ssl_key_path = 
ip_privada = 192.168.0.109
uuid = 94de80b28c4b

[IMPRESORA_FISCAL]
marca = Hasar
modelo = 715v1
path = COM2
driver = Hasar

[IMPRESORA_FISCAL_H2G]
marca = Hasar2Gen
modelo = PT-1000F
host = 127.0.0.1
port = 6500
driver = Json

[IMPRESORA_FISCAL_E2G]
marca = Epson2Gen
modelo = tm-t900fa
driver = Epson2Gen
path = serial: /dev/usb/lp0