[Unit]
Description=Fiscalberry Server
Wants=network-online.target
After=network.target network-online.target

[Service]
Restart=always
RestartSec=5
Type=simple
ExecStart=/opt/fiscalberry/.venv/bin/python /opt/fiscalberry/src/cli.py
EnvironmentFile=/etc/fiscalberry/.env
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fiscalberry

[Install]
WantedBy=multi-user.target
Alias=fiscalberry.service