future>=0.16.0
pyserial>=3.4
python-escpos
python-nmap>=0.6.1
pyusb==1.0.2
pyutf8>=0.1.1
PyYAML>=3.12
qrcode>=5.3
requests
setuptools
singledispatch>=3.4.0.3
six>=1.11.0
tornado
typing>=3.6.2
urllib3>=1.24.2
python-daemon
PyJWT>=1.5.3
GitPython
pyOpenSSL
cryptography
