[SERVIDOR]
uuid = xxxxx-yyyy-zzzz-aaaa-zzzzzzzzzz
sio_host = http://localhost:5000
sio_password =



[IMPRESORA_FISCAL]
marca = Hasar
modelo = 715v2
path = /tmp/respuestas.txt
driver = File

[IMPRESORA_RED]
marca = EscP
host = 127.0.0.1
driver = ReceiptDirectJet
